#mapsection{background:#fff;}
#mapWrapper{width:960px; margin:0 auto;}
#map{background:transparent url(images/findus/US_states.png) no-repeat scroll -1px 0px; float:left;}
#selectedstatewrapper{width:150px; float:left; padding:15px; border:1px solid #ccc;}
#selectedstatewrapper h2{color:#70cbd2; font-size:22px; font-family: "alternate-gothic-no-2-d",serif;font-weight:400;}
#stateselect{border:none;}

#stateselect{ width: 150px; height:340px; overflow:auto; }
.jScrollPaneContainer {
        position: relative;
        overflow: hidden;
        z-index: 1;
}
.jScrollPaneTrackHolder
{
        position: absolute;
        right: 0;
        top: 0;
        margin-right: -1px;
        height: 100%;
        width:15px !important;
        background:transparent;
             
}
.jScrollPaneTrack {
        height: 100%;
        position: absolute;
        background:#f4f4f4;
         width:15px !important;
         behavior: url(ie-css3.htc); /* IE */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* universal */
}
.jScrollPaneDrag {
        position: absolute;
        cursor: pointer;
        overflow: hidden;
        left: 0;
        background:#d0d0d0;
         behavior: url(ie-css3.htc); /* IE */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* universal */
}
a.jScrollArrowUp,
a.jScrollArrowDown {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: -1px -1px 0 0;
        overflow: hidden;
        height:10px;
        
        background:#fff url(images/findus/toparrow.jpg) no-repeat scroll 0 0;
        text-indent:-99999px;
}
a.jScrollArrowDown {
        bottom: 0;
        margin: 0 -1px -1px 0;
        top: auto;
           background:#fff url(images/findus/downarrow.jpg) no-repeat scroll 0 0;
}
a.jScrollArrowDown:hover {
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
}
.option{color:#252226; font-size:12px;font-family: "ff-meta-serif-web-pro",serif;font-weight:500;margin:5px 0;}
.option.selected{background:#70cbd2;}
