/*########## Generic Styles ##########*/
html, body, form {margin:0;padding:0; height:100%; min-width:1050px;   font-family: "ff-meta-serif-web-pro",serif;font-weight:500;}
body{ background:transparent url(images/footer_background.jpg) repeat scroll center top;}
#smakk-content,.footerContainer,#smakk-header {width:960px; margin:0 auto; min-width:980px; }

iframe{border:none;}
.clear {clear:both;}

/*##### Link Styles #####*/
a{text-decoration:none;outline:0; color:#75ccd2;}
a:hover{text-decoration:none; color: #464646;}
a img,a:focus {border:none;outline:0;}

/*##### Button Styles #####*/
a.button{font-size:22px;color:#fff;padding:8px 13px 6px; background:#72ccd2;text-transform:uppercase; display: inline-block;}
a.button:hover{background:#464646;}

/*########## Header ##########*/
#smakk-header-wrapper{background:transparent url(images/sitenav_background.png) repeat-x scroll 0 0;height:71px;margin-bottom:-12px;position:relative; z-index:9999;}

/*##### Site Nav #####*/
#navLogo{position:absolute; top:7px; left:0px;display:block; height:48px; width:143px;}

#smakk-nav{padding-top:10px; position:relative;margin-left:-11px;margin-bottom:65px;}
#smakk-nav ul{position:absolute;left:350px;margin-top: 9px;}
#smakk-nav li{ list-style:none; float:left;font-size:22px; font-family: "Alternate-gothic-no-2-d";font-weight:400;text-transform:uppercase; margin-right:64px;}
#smakk-nav li a{color:#fff;}
#smakk-nav li>a:hover{color:#464646;}


#smakk-nav .shoppingCart{width:140px; position:absolute; right:0px; margin-right:15px;top:0px;}
#smakk-nav .shoppingCart iframe {width:140px; height:30px;margin-top:16px;}

/*##### Site Nav COLOR FOR SELECTED PAGE #####*/
.smakk-page-our_story #smakk-nav .ourStory,
.smakk-page-about #smakk-nav .about,
.smakk-page-blog #smakk-nav .blog,
.smakk-page-contact #smakk-nav .contact{color:#94a223;}


/*########## Content ##########*/
#smakk-page-wrapper{}
#smakk-content-wrapper{ background:transparent url(images/burlap_background.jpg) repeat scroll center top;padding-top:25px;}
#smakk-content{position:relative;}


/*########## Footer ##########*/
#smakk-footer-wrapper{}
#footer_dots{height:29px; background: transparent url(images/footer_dots.jpg) repeat-x scroll 0 0;}
#footerwrapper{width:960px; margin:0 auto;}
.footer{width:670px; height:330px;margin:70px 0;float:left;}
.footer .left{width:230px; float:left;}
.footer .right{width:440px; float:left;}
.footer ul{padding:0;}
.footer li{list-style:none;font-size:15px;font-family: "ff-meta-serif-web-pro",serif;font-weight:500;}
.footer a,.footer p{color:#f4f3f3;font-size:15px;font-family: "ff-meta-serif-web-pro",serif;font-weight:500;}
.footer a:hover{color:#72ccd2;}
.footer h1,#footerfeed h1{color:#f4f3f3;font-size:30px;font-family: "alternate-gothic-no-1-d",serif;font-weight:400;margin:0;text-transform:uppercase;}

/*Feed*/
#footerfeed{width:290px; height:330px;float:right;margin:70px 0;}
#footerfeed #twitter_update_list{padding:0;}
#footerfeed #twitter_update_list li{list-style:none; margin-bottom:20px;color:#6c7881;font-size:12px;}
#footerfeed #twitter_update_list li span{display:block; background:#fff;padding:15px;margin-bottom:20px;
                                         border:1px solid #b3c8ce;position:relative;
  behavior: url(ie-css3.htc); /* IE */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* universal */
  }

#footerfeed #twitter_update_list li>a{display:block;color:#cbcbcb; font-size:20px !important;font-family: "alternate-gothic-no-1-d",serif;font-weight:400;  padding-left:35px;background:transparent url(images/footer/stevestwittericon.png) no-repeat scroll 0 0;}
#footerfeed #twitter_update_list li a:before
{
  content:"STEVES ICE CREAM (";
    }
    #footerfeed #twitter_update_list li a:after
{
  content:")";
    }

#footerfeed .twitterwing{height:13px; width:13px; background:transparent url(images/footer/twitter_wing.png) no-repeat scroll 0 0;position:absolute; bottom:-12px; left:20px;}
#footerfeed #twitter_update_list li span a{color:#6c7881;font-size:12px;}
#footerfeed h1 a{color:#75ccd2; font-size:26px;margin-right:4px;}
#footerfeed h1 a.first{margin-left:10px;}
#footerfeed h1 a:hover{text-decoration:none; color:#fff;}

/*########## Typekit FONTS ##########*/

/*
Regular: font-family: "ff-meta-serif-web-pro",serif;font-weight:500;
BOLD: font-family: "ff-meta-serif-web-pro",serif;font-weight:700;

Thin: font-family: "alternate-gothic-no-1-d",serif;font-weight:400;
Regular: font-family: "alternate-gothic-no-2-d",serif;font-weight:400;
BOLD: font-family: "alternate-gothic-no-3-d",serif;font-weight:400;

*/
