/*Flexible Layouts*/
    /*common
    .smakk-container {margin-bottom:60px;}*/
   

    .smakk-container .Normal p, .smakk-container .Normal ul, .smakk-container .Normal blockquote {margin-bottom:15px;}
    .smakk-container .Normal em {font-style:italic;font-family:museo, Sans-Serif; font-size:15px; font-weight:300; 
                                    color:#145923; margin-right:0; margin-left:0;}
                                    
    #smakk-content .smakk-container .Normal em a {font-weight:bold;}                                   
    
    
    
       
