<div class="article">


    <div class="articleHeadline"><h1>[EDIT]<a href="[ARTICLELINK]">[TITLE]</a></h1></div>
      <div class="articleEntry Normal">
        [HASIMAGE]<div class="articleImage">[IMAGETHUMB:100]</div>[/HASIMAGE]
        [HASSUMMARY][SUMMARY][/HASSUMMARY][HASNOSUMMARY][DETAILS:500][/HASNOSUMMARY]
        [ISRSSITEM]<p><a href="[LINK]" target="_blank">[Read the rest of this article...]</a></p>[/ISRSSITEM]
        [ISNOTRSSITEM]
        [HASMOREDETAIL:500]
            <p><a href="[ARTICLELINK]" target="[LINKTARGET]">Read More &raquo;</a></p>
        [/HASMOREDETAIL:150][/ISNOTRSSITEM]
    </div>
    
       
   
    
</div>
