<!-- View.Item -->
<div class="article">
<div class="backToBlog"><a href="/blog">Back to all posts</a></div>
  [HASCATEGORIES] 
    <div class="articleCategories Normal">
      [CATEGORIES]
    </div>
    [/HASCATEGORIES]
<div class="socialLinks">
<ul id="sharing">

 
  <li class="share-google">
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div>
  </li>
 

 
  <li class="share-twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
  </li>
  

 
  <li class="share-facebook">
    <div id="fb-root"></div>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="" data-show-faces="false"></div>          
  </li>
 
    <li class="share-pinterest">
        <div class="pin-it"><a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="horizontal">Pin It</a>
<script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script></div>
    </li>
    <li>
        <div class="share-svpply">
            <script src="http://svpply.com/api/all.js#xsvml=1" type="text/javascript"></script>
<sv:product-button type="boxed"></sv:product-button>
        </div>
    </li>
</ul>

<!-- fb like button -->
<div id="fb-root"></div>
<script defer>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

<!-- +1 button -->
<script defer type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<!-- tweet btn -->
<script defer type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

</div>
<div class="clear"></div>
       <div class="articleHeadline"><h1>[EDIT]<a href="[ARTICLELINK]">[TITLE]</a></h1>
[HASCUSTOMFIELDS]<h2> [CUSTOM:SubHeading]</h2>[/HASCUSTOMFIELDS]
</div>

    <div class="articleEntry Normal">
        [PAGETEXT]
      
        [HASLINK]
            <p><a href="[LINK]" target="[LINKTARGET]">Read More &raquo;</a></p>
        [/HASLINK]
    </div>
    
    [HASMULTIPLEPAGES]
    <div class="articlePaging Normal">
        Pages: [CURRENTPAGE] of [PAGECOUNT][HASPREVPAGE] [LINKPREVIOUS][/HASPREVPAGE][HASNEXTPAGE] [LINKNEXT][/HASNEXTPAGE]
    </div>
    [/HASMULTIPLEPAGES]
    
  

   


[HASIMAGES]
<div class="articleImages">
    <h2><a href="#Images">Related Images</a></h2>
    <table><tr><td>[IMAGES]</td></tr></table>
</div>
[/HASIMAGES]

[HASFILES]
<div class="articleFiles">
    <h2><a href="#Files">Related Files</a></h2>
    [FILES]
</div>
[/HASFILES]

[HASRELATED]
<div class="related">
    <h2><a href="#Related">Related Articles</a></h2>
    [RELATED]
</div>
[/HASRELATED]


</div>