#smakk-content-holder{}
#smakk-content-wrapper{margin-top: 73px;}
.rightSection{float:left;width:585px; position:relative;margin-left:50px;}

/*##### Side Nav ######*/
#sideNav{float:left;width:318px; height:100%;position:relative;margin-bottom:4px;  }
#sideNav .topSection{width:318px; height:168px; margin-left:-11px;}
#sideNav .register{color: #FFFFFF; font-family: "proxima-nova",sans-serif; font-size: 15px; font-weight: 600;width:269px;padding: 15px 15px 0; position: absolute; text-align: center;top:25px; left:0px;}
#sideNav .register iframe{margin-left:10px;}
#sideNav .middleSection{min-height:150px; padding: 0 25px; }

#sideNav h2{font-family: "adobe-garamond-pro",sans-serif;font-style:italic; font-size:18px;color:#ccc;margin-bottom:0;}
#sideNav ul{padding:0;margin-top:0;}
#sideNav li{list-style:none;}
#sideNav li a, #sideNav .category a{font-size:18px; color:#fff;font-weight:500; }
#sideNav li a:hover, #sideNav .category a:hover{color:#c1d72e;}



/*##### ContentPane #####*/
.ContentPane{ margin-bottom:50px;}
.ContentPane h1{font-size:28px;font-weight:600; color:#000000; text-transform:uppercase;font-family: "adobe-garamond-pro",sans-serif;background:none;border:none;}
.ContentPane h1 a{color:#000;margin-bottom:0;}
.ContentPane h1 a:hover{color:#999999:}
.ContentPane h2{font-size:20px;color:#000;margin-top:0;}
.ContentPane .articleEntry {font-size:16px;font-weight:500; color:#666666;}
.ContentPane p span,.ContentPane .Addy{font-size:16px;font-weight:500;color:#666666;}
.ContentPane p a{font-size:16px;color:#91a223;font-weight:700;}
.ContentPane p a:hover{color:#c1d72e; text-decoration:none;}
.article{border-bottom:1px solid #ccc;}
.articleCategories{border:none; font-size:14px; color:#91a223;}
.articleCategories a{color:#91a223; font-weight:600;}
.articleCategories a:hover{}
.backToBlog{border-bottom:2px solid #000; padding-bottom:10px;}
.backToBlog a{font-size:16px;color:#91a223; font-weight:600; padding-left:20px;background:transparent url(images/blog/arrowhover-left.png) no-repeat scroll 0 1px;}
.backToBlog a:hover{ background-position: 0 -22px;color:#c1d72e;}
.PageName{}
.articleCategories{margin-top:20px;}
.articleCategories a{font-size:14px;font-weight:700;}
.articleCategories a:hover{color:#c1d72e;}
blockquote{font-size:33px;font-family: "adobe-garamond-pro",sans-serif; color:#999999; text-align:center; font-style:italic; }
.ContentPane h3{font-size:21px;font-family: "adobe-garamond-pro",sans-serif; color:#000; font-style:italic;}
.ContentPane li{ list-style:disc; font-size:18px; color:#000;padding-bottom:10px; font-weight:600;}
.articleHeadline h1 a{color:#000;}
.articleHeadline h1 a:hover{color:#999;}
/*##### Social Links #####*/
.socialLinks ul{padding:0;}
.socialLinks li{float:left;list-style:none;}
/*#smakk-page-wrapper{ background:transparent url(images/sidebarRepeat.png) repeat-y scroll top center ;}*/
#smakk-nav{ margin-left:0; padding-top:18px; }
#navLogo{top:0; }

#navLogo a{background:transparent url(images/tumblr/sproutlogo.png) no-repeat scroll 0 0; height:86px; margin-left:-10px;}
#navLogo a:hover {background-position: 0 -88px;}
#smakk-header-wrapper{background:none;}
#smakk-content, .footerContainer, #smakk-header{margin:0;}
div.cart{padding-top:0;}
#smakk-nav .shoppingCart{top:10px;}

#smakk-page-wrapper{padding-left:16px;}

.smakk-nav{padding-top:25px; position:relative;margin-left:-11px;margin-bottom:65px;}
.smakk-nav ul{position:absolute;left:350px;margin-top: 9px;}
.smakk-nav li{ list-style:none; float:left;font-size:21px; padding:0 5px; font-family: "adobe-garamond-pro",sans-serif;font-style:italic; font-weight:600;}
.smakk-nav li a{color:#000;font-size:21px; }
.smakk-nav li>a:hover{color:#999999;}
.smakk-nav .shoppingCart{width:140px; position:absolute; right:0px; margin-right:15px;top:21px;}
.smakk-nav .shoppingCart iframe {width:140px; height:70px;}
.smakk-page-blog_hero .smakk-nav .blog{color:#94a223;}

/*Hero SlideShow*/
#hero{position:relative;width:925px;left:0px;}
.heroWrapper{ margin-top: 75px;}
.heroWrapper .slide{position:relative; height:333px; width:925px;overflow:hidden;}
.heroWrapper .slide img{position:absolute; top:0px; left:0px;}
.heroWrapper .slide .cta{position:absolute; top:45px; right:80px; width:350px;background:#000;color:#fff;padding:30px 30px 15px;
                          /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";

  /* IE 5-7 */
  filter: alpha(opacity=75);

  /* Netscape */
  -moz-opacity: 0.75;

  /* Safari 1.x */
  -khtml-opacity: 0.75;

  /* Good browsers */
  opacity: 0.75;
                         }
.heroWrapper .slide .cta h1{font-size:50px; font-style:italic; font-weight:700;margin:0;font-family: "adobe-garamond-pro",sans-serif;}
.heroWrapper .slide .cta h1 span{color:#c1d72e;}
.heroWrapper .slide .cta p{font-size:15px;}
.heroWrapper .slide .cta p a{color:#fff;}
.heroWrapper .slide .cta p a:hover{color:#c1d72e; text-decoration:underline;}

#hero .left {
    background: url("images/home/leftArrow.png") no-repeat scroll 0 0 transparent;
    height: 197px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 62px;
    width: 54px;
    z-index: 999;
}

#hero .right {
    background: url("images/home/rightArrow.png") no-repeat scroll -54px 0 transparent;
    height: 197px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 62px;
    width: 54px;
    z-index: 999;
}
#hero .right:hover {
    background-position: 0 0;
}
#hero .left:hover {
    background-position: -54px 0;
}