body {
}
div#smakk-hero  {
    background: url("images/services-hero.jpg") no-repeat scroll center top transparent;
    height:118px;
}
/*.SMaKK-ContentPaneRight .Normal a{ font-weight: 700; background:transparent url("/Portals/_default/Skins/SKP/images/link-arrow.png") no-repeat scroll bottom right ; padding-right:15px;}
*/